
<div class="contributors">
    <div class="Titles"> <p class="p1">Welcome to Tournament Management </p> </div>
    <img alt="Photo" src="./assets/Images/Travellers.png" width="200" height="200">  
      
    <div class="names">
      <p>Revalo Ruiz, Juan Bibiano  – 301323792– jareval5@my.centennialcollege.ca </p>
      <p>Gunaratnam, Pratheepan  –  301320478– pgunara6@my.centennialcollege.ca </p>
      <p>Ikramuddin, Syed  – 301318212 – sikramud@my.centennial.ca </p>
      <p>Nunag, Janssen – 301234890 – jnunag2@my.centennialcollege.ca  </p>
      <p>Patino Restrepo, Camilo– 301323814 – cpatino1@my.centennialcollege.ca </p>
      <p> Silva Benites, Sebastian– 301248383 – ssilva29@my.centennialcollege.ca </p>

 
    </div>
  </div>

  
  
  
  
   