<div style="display:felx; justify-content: center; align-self: center; text-align: center; margin: 2rem;">
  <h1 style="font-weight: bold;">
    Welcome to Tournament Management
  </h1>
  <img style="margin: 1rem" alt="Photo" src="./assets/Images/Travellers.png"
    width="200" height="200">
    <br/>
  <div class="names" style="text-align: center;">
    <p>Revalo Ruiz, Juan Bibiano - 301323792- jareval5@my.centennialcollege.ca </p>
    <p>Gunaratnam, Pratheepan - 301320478- pgunara6@my.centennialcollege.ca </p>
    <p>Ikramuddin, Syed - 301318212 - sikramud@my.centennial.ca </p>
    <p>Nunag, Janssen - 301234890 - jnunag2@my.centennialcollege.ca </p>
    <p>Patino Restrepo, Camilo- 301323814 - cpatino1@my.centennialcollege.ca </p>
    <p> Silva Benites, Sebastian- 301248383 - ssilva29@my.centennialcollege.ca </p>
  </div>
</div>