<div style="width:100%;height:100%;display: flex; justify-content: center; align-content: center">
    <mat-card>
        <h1 mat-dialog-title>Login</h1>
       
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field style="width: 100%;">
                    <mat-label for="userName">Username</mat-label>
                    <input matInput placeholder="JhonDoe" id="userName" formControlName="userName"type="text"class="form-control">
                        <mat-error *ngIf="form['userName'].invalid && (form['userName'].dirty || form['userName'].touched)"
                        class="alert">              
                        <mat-error *ngIf="form['userName'].errors?.['required']">
                         useName is required.
                        </mat-error>
                        <mat-error *ngIf="form['userName'].errors?.['minlength']">
                        Name must be at least 4 characters long.
                        </mat-error>
                        
                
                </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input matInput  formControlName="password" type="password" >
                    <mat-error *ngIf="form['password'].invalid && (form['password'].dirty || form['password'].touched)"
                    class="alert">              
                    <mat-error *ngIf="form['password'].errors?.['required']">
                     password is required.
                    </mat-error>
                    <mat-error *ngIf="form['password'].errors?.['minlength']"> password in not secure need at least 4 characters. </mat-error >
                    <mat-error  *ngIf="form['password'].errors?.['forbiddenName']">  password cannot be password. </mat-error >
                </mat-error>
                </mat-form-field>
            </form>
            <a routerLink="/register" mat-dialog-close>Don't have an account? Register now</a>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="login()"  >Login</button>
            &nbsp;
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        </mat-card-actions>
    </mat-card>
    
</div>