<div layout="column">
    <mat-card style="margin: 2rem">
        <mat-card-header>
            <h1 mat-card-title>Register</h1>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm">
                <mat-form-field style="width: 100%;">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput type="text">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="email">
                    <mat-error *ngIf="registerForm.controls.email.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="registerForm.controls.email.hasError('email')">Please enter a valid email address</mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="cpassword" matInput type="password">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="register()">Register</button>
                &nbsp;
                <button mat-raised-button color="warn" routerLink="/">Cancel</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>